/* Reset básico para remover margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    height: 100vh; /* Faz com que o body tenha pelo menos a altura da tela */
    font-family: 'Barlow', sans-serif;
    color: white;
    background-color: rgb(245,245,245);
}

/* Estilos para o header */
header {
    background-color: rgba(255, 0, 0, 0.792);
    padding: 10px 0;
    margin: 0;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
}

/* Estilos para o ícone */
.icon {
    width: 120px; /* Tamanho fixo do ícone */
    margin-left: -150px;
    margin-bottom: 15px;
}

/* Estilos para a marca (brand) */
.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    margin-left: -90px;
}

.brand strong {
    font-weight: bold;
}

.brand hr {
    border: none;
    border-top: 1px solid white;
    width: 135px;
    margin: 5px 0;
}

.nav-bar{
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
}

/* Estilos para a lista de navegação */
nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

nav ul li {
    margin-left: 150px;
}

nav ul li:first-child{
    margin-left: auto;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #a51820;
    border-radius: 5px;
}


/* Conteúdo Principal */
main {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    color:black;
    padding-bottom: 60px;
}

/* Estilos para a seção do hino */
#hino {
    flex-basis: 45%; /* Define a largura da seção do hino (50% do espaço disponível com espaço entre as seções) */
    text-align: left; /* Alinha o texto à esquerda */
    padding: 20px;
    box-sizing: border-box; /* Inclui as bordas e o padding na largura total */
}

#hino .hino-content {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-left: -160px;
}

#hino .hino-header {
    margin-bottom: 10px; /* Espaçamento abaixo do cabeçalho */
}

#hino .hino-header h2 {
    margin: 0; /* Remove margem do h2 */
}

#hino .hino-header h3 b {
    font-weight: bold; /* Aplica negrito apenas ao texto dentro das tags <b> dentro das tags <h3> */
}

#hino .hino-text pre {
    margin-top: 0; /* Remove margem superior do pre */
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 10px;
}

#hino .hino-audio {
    margin-top: auto; /* Empurra os controles de áudio para a parte inferior */
}


/* Estilos para a seção da partitura */
#partitura {
    flex-basis: 10%;
    text-align: center;
    margin-left: -100px;
    margin-top: 10px;
}

#partitura .partitura-header{
    text-align: center;
    margin-left: -250px;
}


#partitura .partitura-img {
    width: auto;
    height: 80%;
    margin-bottom: 50px;
    margin-left: -250px;
    max-width: 400px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px; /* Reduzindo o padding para garantir que o texto caiba */
    text-align: center;
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.creator p {
    font-style: italic;
    font-size: 12px; /* Reduzindo o tamanho da fonte */
}

.hidden {
    display: none;
}


