/* Reset básico para remover margens e paddings padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('TPC4/img/banner-internacional.jpg'); /* Adiciona a imagem de fundo */
    background-size: cover; /* Garante que a imagem de fundo cubra toda a página */
    background-position: center; /* Centraliza a imagem de fundo */
    background-attachment: fixed; /* A imagem de fundo fica fixa durante a rolagem */
    color: white; /* Altera a cor do texto para branco para melhor leitura */
}

nav ul {
    list-style-type: none;
    background-color: #d2232a; /* Cor de fundo da nav bar */
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline; /* Torna os itens da lista horizontais */
    margin-right: 20px; /* Espaço entre os itens */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #a51820; /* Efeito hover para os itens da nav bar */
    border-radius: 5px;
}

/* Conteúdo Principal */
main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Seção do Hino */
#hino {
    flex-basis: 45%; /* Ocupa cerca de metade do espaço disponível */
    text-align: left; /* Alinha o texto à esquerda */
    padding-right: 20px; /* Espaço à direita para separar do conteúdo das imagens */
}

/* Seção de Imagens */
#imagens {
    flex-basis: 45%; /* Ocupa cerca de metade do espaço disponível */
    text-align: center; /* Centraliza as imagens */
}

#imagens img {
    width: 100%; /* Faz com que as imagens preencham o espaço disponível */
    margin-bottom: 10px; /* Espaço entre as imagens */
    max-width: 400px; /* Limita a largura máxima das imagens */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #d2232a;
    color: white;
    margin-top: 20px;
}
